{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "prettier/prettier": ["error"],
    "react/jsx-props-no-spreading": "off"
  }
}
